uml_model/GloSIS_XML_implementation/glosis/schema.xsd

<?xml version='1.0' encoding='UTF-8'?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:gml="http://www.opengis.net/gml/3.2" elementFormDefault="qualified" targetNamespace="http://www.fao.org/global-soil-partnership" xmlns:gl="http://www.fao.org/global-soil-partnership" xmlns:gmd="http://www.isotc211.org/2005/gmd" xmlns:om="http://www.opengis.net/om/2.0" xmlns:sq="http://www.iso28258.org" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <import namespace="http://www.iso28258.org" schemaLocation="https://gist.githubusercontent.com/jirik/7f3cb0199f8931f6a051643c94a73e0e/raw/ISO_28258_rev1.xsd" />
  <import namespace="http://www.opengis.net/gml/3.2" schemaLocation="http://schemas.opengis.net/gml/3.2.1/gml.xsd" />
  <import namespace="http://www.opengis.net/om/2.0" schemaLocation="http://schemas.opengis.net/om/2.0/observation.xsd" />
  <import namespace="http://www.isotc211.org/2005/gmd" schemaLocation="http://schemas.opengis.net/iso/19139/20070417/gmd/gmd.xsd" />
  <complexType name="GL_SiteType">
    <complexContent>
      <extension base="sq:SiteType">
        <sequence>
          <element name="altitude" type="gml:MeasureType" />
          <element name="country" type="gml:ReferenceType" />
          <element name="location" type="xsd:string">
            <annotation>
              <documentation>Description of the location</documentation>
            </annotation>
          </element>
          <element name="mapSheetID" type="xsd:string" />
          <element name="positionalAccuracy" type="gmd:DQ_PositionalAccuracy_PropertyType" />
          <element name="remarks" type="xsd:string">
            <annotation>
              <documentation>Remarks pertaining to the site</documentation>
            </annotation>
          </element>
          <element name="responsibleOrganization" type="gmd:CI_ResponsibleParty_PropertyType" />
          <element name="timestamp" type="gml:TimeInstantPropertyType" />
          <element name="hydroInfo" type="gl:HydroInfoPropertyType" minOccurs="0" maxOccurs="unbounded">
            <annotation>
              <appinfo>
                <gml:reversePropertyName>aboutSite</gml:reversePropertyName>
              </appinfo>
            </annotation>
          </element>
          <element name="soilInfo" type="gl:SoilInfoPropertyType" minOccurs="0" maxOccurs="unbounded">
            <annotation>
              <appinfo>
                <gml:reversePropertyName>aboutSite</gml:reversePropertyName>
              </appinfo>
            </annotation>
          </element>
          <element name="climateInfo" type="gl:ClimateInfoPropertyType" minOccurs="0" maxOccurs="unbounded">
            <annotation>
              <appinfo>
                <gml:reversePropertyName>aboutSite</gml:reversePropertyName>
              </appinfo>
            </annotation>
          </element>
          <element name="landUseInfo" type="gl:LandUseInfoPropertyType" minOccurs="0" maxOccurs="unbounded">
            <annotation>
              <appinfo>
                <gml:reversePropertyName>aboutSite</gml:reversePropertyName>
              </appinfo>
            </annotation>
          </element>
          <element name="landFormInfo" type="gl:LandFormInfoPropertyType" minOccurs="0" maxOccurs="unbounded">
            <annotation>
              <appinfo>
                <gml:reversePropertyName>aboutSite</gml:reversePropertyName>
              </appinfo>
            </annotation>
          </element>
          <element name="parentMaterialInfo" type="gl:ParentMaterialInfoPropertyType" minOccurs="0" maxOccurs="unbounded">
            <annotation>
              <appinfo>
                <gml:reversePropertyName>aboutSite</gml:reversePropertyName>
              </appinfo>
            </annotation>
          </element>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <element name="GL_Site" type="gl:GL_SiteType" substitutionGroup="sq:Site" />
  <complexType name="GL_SitePropertyType">
    <sequence minOccurs="0">
      <element ref="gl:GL_Site" />
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup" />
    <attributeGroup ref="gml:OwnershipAttributeGroup" />
  </complexType>
  <complexType name="GL_PlotType">
    <complexContent>
      <extension base="sq:PlotType">
        <sequence>
          <element name="altitude" type="gml:MeasureType" />
          <element name="country" type="gml:ReferenceType" />
          <element name="location" type="xsd:string" />
          <element name="mapSheetID" type="xsd:string" />
          <element name="positionalAccuracy" type="gmd:DQ_PositionalAccuracy_PropertyType" />
          <element name="remarks" type="xsd:string" />
          <element name="responsibleOrganization" type="gmd:CI_ResponsibleParty_PropertyType" />
          <element name="timestamp" type="gml:TimeInstantPropertyType" />
          <element name="hydroInfo" type="gl:HydroInfoPropertyType" minOccurs="0" maxOccurs="unbounded">
            <annotation>
              <appinfo>
                <gml:reversePropertyName>aboutPlot</gml:reversePropertyName>
              </appinfo>
            </annotation>
          </element>
          <element name="soilInfo" type="gl:SoilInfoPropertyType" minOccurs="0" maxOccurs="unbounded">
            <annotation>
              <appinfo>
                <gml:reversePropertyName>aboutPlot</gml:reversePropertyName>
              </appinfo>
            </annotation>
          </element>
          <element name="climateInfo" type="gl:ClimateInfoPropertyType" minOccurs="0" maxOccurs="unbounded">
            <annotation>
              <appinfo>
                <gml:reversePropertyName>aboutPlot</gml:reversePropertyName>
              </appinfo>
            </annotation>
          </element>
          <element name="landUseInfo" type="gl:LandUseInfoPropertyType" minOccurs="0" maxOccurs="unbounded">
            <annotation>
              <appinfo>
                <gml:reversePropertyName>aboutPlot</gml:reversePropertyName>
              </appinfo>
            </annotation>
          </element>
          <element name="landFormInfo" type="gl:LandFormInfoPropertyType" minOccurs="0" maxOccurs="unbounded">
            <annotation>
              <appinfo>
                <gml:reversePropertyName>aboutPlot</gml:reversePropertyName>
              </appinfo>
            </annotation>
          </element>
          <element name="parentMaterialInfo" type="gl:ParentMaterialInfoPropertyType" minOccurs="0" maxOccurs="unbounded">
            <annotation>
              <appinfo>
                <gml:reversePropertyName>aboutPlot</gml:reversePropertyName>
              </appinfo>
            </annotation>
          </element>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <element name="GL_Plot" type="gl:GL_PlotType" substitutionGroup="sq:Plot" />
  <complexType name="GL_PlotPropertyType">
    <sequence minOccurs="0">
      <element ref="gl:GL_Plot" />
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup" />
    <attributeGroup ref="gml:OwnershipAttributeGroup" />
  </complexType>
  <complexType name="HydroInfoType">
    <complexContent>
      <extension base="gml:AbstractFeatureType">
        <sequence>
          <element name="floodDuration" type="om:OM_ObservationPropertyType" minOccurs="0" maxOccurs="unbounded">
            <annotation>
              <documentation>Currently references Table 174, which doesn't exist!
Result should be of type FloodDurationValue
ObservedProperty = FloodDuration</documentation>
            </annotation>
          </element>
          <element name="floodFrequency" type="om:OM_ObservationPropertyType" minOccurs="0" maxOccurs="unbounded">
            <annotation>
              <documentation>Currently references Table 174, which doesn't exist!
Result should be of type FloodFrequencyValue
ObservedProperty = FloodFrequency</documentation>
            </annotation>
          </element>
          <element name="groundwaterDepth" type="om:OM_ObservationPropertyType" minOccurs="0" maxOccurs="unbounded">
            <annotation>
              <documentation>Result should be of type Real
ObservedProperty = GroundwaterDepth</documentation>
            </annotation>
          </element>
          <element name="aboutSite" type="gl:GL_SitePropertyType" minOccurs="0">
            <annotation>
              <appinfo>
                <gml:reversePropertyName>hydroInfo</gml:reversePropertyName>
              </appinfo>
            </annotation>
          </element>
          <element name="aboutPlot" type="gl:GL_PlotPropertyType" minOccurs="0">
            <annotation>
              <appinfo>
                <gml:reversePropertyName>hydroInfo</gml:reversePropertyName>
              </appinfo>
            </annotation>
          </element>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <element name="HydroInfo" type="gl:HydroInfoType" substitutionGroup="gml:AbstractFeature" />
  <complexType name="HydroInfoPropertyType">
    <sequence minOccurs="0">
      <element ref="gl:HydroInfo" />
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup" />
    <attributeGroup ref="gml:OwnershipAttributeGroup" />
  </complexType>
  <complexType name="SoilInfoType">
    <complexContent>
      <extension base="gml:AbstractFeatureType">
        <sequence>
          <element name="erosionActivityPeriod" type="om:OM_ObservationPropertyType" minOccurs="0" maxOccurs="unbounded">
            <annotation>
              <documentation>Result should be of type ErosionActivityPeriodValue
ObservedProperty = ErosionActivityPeriod</documentation>
            </annotation>
          </element>
          <element name="erosionAreaAffected" type="om:OM_ObservationPropertyType" minOccurs="0" maxOccurs="unbounded">
            <annotation>
              <documentation>Result should be of type ErosionAreaAffectedValue
ObservedProperty = ErosionAreaAffected</documentation>
            </annotation>
          </element>
          <element name="erosionCategory" type="om:OM_ObservationPropertyType" minOccurs="0" maxOccurs="unbounded">
            <annotation>
              <documentation>Result should be of type ErosionCategoryValue
ObservedProperty =  ErosionCategory</documentation>
            </annotation>
          </element>
          <element name="erosionDegree" type="om:OM_ObservationPropertyType" minOccurs="0" maxOccurs="unbounded">
            <annotation>
              <documentation>Result should be of type ErosionDegreeValue
ObservedProperty = ErosionDegree</documentation>
            </annotation>
          </element>
          <element name="erosionTotalAreaAffected" type="om:OM_ObservationPropertyType" minOccurs="0" maxOccurs="unbounded">
            <annotation>
              <documentation>Result should be of type ErosionTotalAreaAffectedValue
ObservedProperty = ErosionTotalAreaAffected</documentation>
            </annotation>
          </element>
          <element name="rockOutcropsCover" type="om:OM_ObservationPropertyType" minOccurs="0" maxOccurs="unbounded">
            <annotation>
              <documentation>Result should be of type RockOutcropsCoverValue
ObservedProperty = RockOutcropsCover</documentation>
            </annotation>
          </element>
          <element name="rockOutcropsDistance" type="om:OM_ObservationPropertyType" minOccurs="0" maxOccurs="unbounded">
            <annotation>
              <documentation>Result should be of type RockOutcropsDistanceValue
ObservedProperty = RockOutcropsDistance
</documentation>
            </annotation>
          </element>
          <element name="soilDepth" type="om:OM_ObservationPropertyType" minOccurs="0" maxOccurs="unbounded">
            <annotation>
              <documentation>UoM in cm
Result of type Integer
ObservedProperty = Depth</documentation>
            </annotation>
          </element>
          <element name="soilDepthBedrock" type="om:OM_ObservationPropertyType" minOccurs="0" maxOccurs="unbounded">
            <annotation>
              <documentation>ObservedProperty = DepthBedrock
Result of type Integer</documentation>
            </annotation>
          </element>
          <element name="soilDepthRootable" type="om:OM_ObservationPropertyType" minOccurs="0" maxOccurs="unbounded">
            <annotation>
              <documentation>UoM in cm
Result of type Integer
ObservedProperty = SoilDepthRootable</documentation>
            </annotation>
          </element>
          <element name="soilDepthRootableClass" type="om:OM_ObservationPropertyType" minOccurs="0" maxOccurs="unbounded">
            <annotation>
              <documentation>Result of type SoilDepthRootableValue
ObservedProperty = SoilDepthRootableClass</documentation>
            </annotation>
          </element>
          <element name="soilDepthSampled" type="om:OM_ObservationPropertyType" minOccurs="0" maxOccurs="unbounded">
            <annotation>
              <documentation>UoM in cm
Note: this attribute may be an artifact!!!
Result of type Integer
ObservedProperty = DepthSampled</documentation>
            </annotation>
          </element>
          <element name="weatheringFragments" type="om:OM_ObservationPropertyType" minOccurs="0" maxOccurs="unbounded">
            <annotation>
              <documentation>Result of type WeatheringValue (Table 29)
ObservedProperty = weatheringFragments
</documentation>
            </annotation>
          </element>
          <element name="weatheringRock" type="om:OM_ObservationPropertyType" minOccurs="0" maxOccurs="unbounded">
            <annotation>
              <documentation>Result should be of type WeatheringValue (Table 29)
ObservedProperty = weatheringRock
</documentation>
            </annotation>
          </element>
          <element name="aboutSite" type="gl:GL_SitePropertyType" minOccurs="0">
            <annotation>
              <appinfo>
                <gml:reversePropertyName>soilInfo</gml:reversePropertyName>
              </appinfo>
            </annotation>
          </element>
          <element name="aboutPlot" type="gl:GL_PlotPropertyType" minOccurs="0">
            <annotation>
              <appinfo>
                <gml:reversePropertyName>soilInfo</gml:reversePropertyName>
              </appinfo>
            </annotation>
          </element>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <element name="SoilInfo" type="gl:SoilInfoType" substitutionGroup="gml:AbstractFeature" />
  <complexType name="SoilInfoPropertyType">
    <sequence minOccurs="0">
      <element ref="gl:SoilInfo" />
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup" />
    <attributeGroup ref="gml:OwnershipAttributeGroup" />
  </complexType>
  <complexType name="ClimateInfoType">
    <complexContent>
      <extension base="gml:AbstractFeatureType">
        <sequence>
          <element name="koeppenClass" type="om:OM_ObservationPropertyType" minOccurs="0" maxOccurs="unbounded">
            <annotation>
              <documentation>Missing Codelist for Köppen Classes
Result should be of type KoeppenClassValue
ObservedProperty = KoeppenClass</documentation>
            </annotation>
          </element>
          <element name="weatherCurrent" type="om:OM_ObservationPropertyType" minOccurs="0" maxOccurs="unbounded">
            <annotation>
              <documentation>Result should be of type WeatherConditionsValue
ObservedProperty = WeatherConditionsCurrent</documentation>
            </annotation>
          </element>
          <element name="weatherPast" type="om:OM_ObservationPropertyType" minOccurs="0" maxOccurs="unbounded">
            <annotation>
              <documentation>Result should be of type WeatherConditionsValue
ObservedProperty = WeatherConditionsPast</documentation>
            </annotation>
          </element>
          <element name="aboutSite" type="gl:GL_SitePropertyType" minOccurs="0">
            <annotation>
              <appinfo>
                <gml:reversePropertyName>climateInfo</gml:reversePropertyName>
              </appinfo>
            </annotation>
          </element>
          <element name="aboutPlot" type="gl:GL_PlotPropertyType" minOccurs="0">
            <annotation>
              <appinfo>
                <gml:reversePropertyName>climateInfo</gml:reversePropertyName>
              </appinfo>
            </annotation>
          </element>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <element name="ClimateInfo" type="gl:ClimateInfoType" substitutionGroup="gml:AbstractFeature" />
  <complexType name="ClimateInfoPropertyType">
    <sequence minOccurs="0">
      <element ref="gl:ClimateInfo" />
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup" />
    <attributeGroup ref="gml:OwnershipAttributeGroup" />
  </complexType>
  <complexType name="LandUseInfoType">
    <complexContent>
      <extension base="gml:AbstractFeatureType">
        <sequence>
          <element name="cropClass" type="om:OM_ObservationPropertyType" minOccurs="0" maxOccurs="unbounded">
            <annotation>
              <documentation>Result should be of type CropClassValue
ObservedProperty = CropClass</documentation>
            </annotation>
          </element>
          <element name="cropDescription" type="xsd:string" minOccurs="0" maxOccurs="unbounded">
            <annotation>
              <documentation>Description of crops at the site</documentation>
            </annotation>
          </element>
          <element name="humanInfluenceClass" type="om:OM_ObservationPropertyType" minOccurs="0" maxOccurs="unbounded">
            <annotation>
              <documentation>Result should be of type HumanInfluenceClassValue
ObservedProperty = HumanInfluenceClass</documentation>
            </annotation>
          </element>
          <element name="landUseBareCover" type="om:OM_ObservationPropertyType" minOccurs="0" maxOccurs="unbounded">
            <annotation>
              <documentation>Result should be an Integer
UoM is percentage
ObservedProperty = BareCoverAbundance</documentation>
            </annotation>
          </element>
          <element name="landUseClass" type="om:OM_ObservationPropertyType" minOccurs="0" maxOccurs="unbounded">
            <annotation>
              <documentation>Result should be of type LandUseClassValue
ObservedProperty = LandUseClass</documentation>
            </annotation>
          </element>
          <element name="landUseCropRotation" type="xsd:string" minOccurs="0" maxOccurs="unbounded">
            <annotation>
              <documentation>Description of crop rotation at the site</documentation>
            </annotation>
          </element>
          <element name="landUseForest" type="om:OM_ObservationPropertyType" minOccurs="0" maxOccurs="unbounded">
            <annotation>
              <documentation>Result should be an Integer
UoM is percentage
ObservedProperty = ForestAbundance</documentation>
            </annotation>
          </element>
          <element name="landUseGrass" type="om:OM_ObservationPropertyType" minOccurs="0" maxOccurs="unbounded">
            <annotation>
              <documentation>Result should be an Integer
UoM is percentage
ObservedProperty = GrassAbundance</documentation>
            </annotation>
          </element>
          <element name="landUsePavedCover" type="om:OM_ObservationPropertyType" minOccurs="0" maxOccurs="unbounded">
            <annotation>
              <documentation>Result should be an Integer
UoM is percentage
ObservedProperty = PavedAbundance</documentation>
            </annotation>
          </element>
          <element name="landUseRemark" type="xsd:string" minOccurs="0" maxOccurs="unbounded">
            <annotation>
              <documentation>Description of land use at the site</documentation>
            </annotation>
          </element>
          <element name="landUseShrubs" type="om:OM_ObservationPropertyType" minOccurs="0" maxOccurs="unbounded">
            <annotation>
              <documentation>Result should be an Integer
UoM is percentage
ObservedProperty = ShrubsAbundance</documentation>
            </annotation>
          </element>
          <element name="treeDensity" type="om:OM_ObservationPropertyType" minOccurs="0" maxOccurs="unbounded">
            <annotation>
              <documentation>result should be Boolean
UoM in n/ha
ObservedProperty = TreeDensity</documentation>
            </annotation>
          </element>
          <element name="vegetationClass" type="om:OM_ObservationPropertyType" minOccurs="0" maxOccurs="unbounded">
            <annotation>
              <documentation>Result should be of type VegetationClassValue
ObservedProperty = VegetationClass</documentation>
            </annotation>
          </element>
          <element name="vegetationDescription" type="xsd:string" minOccurs="0" maxOccurs="unbounded">
            <annotation>
              <documentation>Description of vegetation at the site</documentation>
            </annotation>
          </element>
          <element name="aboutSite" type="gl:GL_SitePropertyType" minOccurs="0">
            <annotation>
              <appinfo>
                <gml:reversePropertyName>landUseInfo</gml:reversePropertyName>
              </appinfo>
            </annotation>
          </element>
          <element name="aboutPlot" type="gl:GL_PlotPropertyType" minOccurs="0">
            <annotation>
              <appinfo>
                <gml:reversePropertyName>landUseInfo</gml:reversePropertyName>
              </appinfo>
            </annotation>
          </element>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <element name="LandUseInfo" type="gl:LandUseInfoType" substitutionGroup="gml:AbstractFeature" />
  <complexType name="LandUseInfoPropertyType">
    <sequence minOccurs="0">
      <element ref="gl:LandUseInfo" />
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup" />
    <attributeGroup ref="gml:OwnershipAttributeGroup" />
  </complexType>
  <complexType name="LandFormInfoType">
    <complexContent>
      <extension base="gml:AbstractFeatureType">
        <sequence>
          <element name="landformComplex" type="om:OM_ObservationPropertyType" minOccurs="0" maxOccurs="unbounded">
            <annotation>
              <documentation>Result should be of type LandformComplexValue
ObservedProperty = LandformComplex</documentation>
            </annotation>
          </element>
          <element name="majorLandform" type="om:OM_ObservationPropertyType" minOccurs="0" maxOccurs="unbounded">
            <annotation>
              <documentation>Result should be of type MajorLandformValue
ObservedProperty =  MajorLandform</documentation>
            </annotation>
          </element>
          <element name="physiography" type="om:OM_ObservationPropertyType" minOccurs="0" maxOccurs="unbounded">
            <annotation>
              <documentation>Result should be of type PhysiographyValue
ObservedProperty = Physiography</documentation>
            </annotation>
          </element>
          <element name="physiographyDescription" type="xsd:string" minOccurs="0" maxOccurs="unbounded">
            <annotation>
              <documentation>Description of the local physiography</documentation>
            </annotation>
          </element>
          <element name="slopeForm" type="om:OM_ObservationPropertyType" minOccurs="0" maxOccurs="unbounded">
            <annotation>
              <documentation>Result should be of type SlopeFormValue
ObservedProperty = SlopeForm</documentation>
            </annotation>
          </element>
          <element name="slopeGradientClass" type="om:OM_ObservationPropertyType" minOccurs="0" maxOccurs="unbounded">
            <annotation>
              <documentation>Result should be of type SlopeGradientClassValue
ObservedProperty = SlopeGradientClass</documentation>
            </annotation>
          </element>
          <element name="slopeGradientNumeric" type="om:OM_ObservationPropertyType" minOccurs="0" maxOccurs="unbounded">
            <annotation>
              <documentation>Result expressed as a Real,
UoM percentage value
ObservedProperty = SlopeGradient</documentation>
            </annotation>
          </element>
          <element name="slopeOrientationClass" type="om:OM_ObservationPropertyType" minOccurs="0" maxOccurs="unbounded">
            <annotation>
              <documentation>Result should be of type SlopeOrientationClassValue
ObservedProperty = SlopeOrientationClass</documentation>
            </annotation>
          </element>
          <element name="slopeOrientationNumeric" type="om:OM_ObservationPropertyType" minOccurs="0" maxOccurs="unbounded">
            <annotation>
              <documentation>Result expressed as an integer
ObservedProperty = SlopeOrientation</documentation>
            </annotation>
          </element>
          <element name="slopePathways" type="om:OM_ObservationPropertyType" minOccurs="0" maxOccurs="unbounded">
            <annotation>
              <documentation>Result should be of type SlopePathwaysValue
ObservedProperty = SlopePathways</documentation>
            </annotation>
          </element>
          <element name="surfaceAge" type="om:OM_ObservationPropertyType" minOccurs="0" maxOccurs="unbounded">
            <annotation>
              <documentation>Result should be of type SurfaceAgeValue
ObservedProperty = SurfaceAge</documentation>
            </annotation>
          </element>
          <element name="aboutSite" type="gl:GL_SitePropertyType" minOccurs="0">
            <annotation>
              <appinfo>
                <gml:reversePropertyName>landFormInfo</gml:reversePropertyName>
              </appinfo>
            </annotation>
          </element>
          <element name="aboutPlot" type="gl:GL_PlotPropertyType" minOccurs="0">
            <annotation>
              <appinfo>
                <gml:reversePropertyName>landFormInfo</gml:reversePropertyName>
              </appinfo>
            </annotation>
          </element>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <element name="LandFormInfo" type="gl:LandFormInfoType" substitutionGroup="gml:AbstractFeature" />
  <complexType name="LandFormInfoPropertyType">
    <sequence minOccurs="0">
      <element ref="gl:LandFormInfo" />
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup" />
    <attributeGroup ref="gml:OwnershipAttributeGroup" />
  </complexType>
  <complexType name="ParentMaterialInfoType">
    <complexContent>
      <extension base="gml:AbstractFeatureType">
        <sequence>
          <element name="geology" type="om:OM_ObservationPropertyType" minOccurs="0" maxOccurs="unbounded">
            <annotation>
              <documentation>Result should be of type LithologyValue
ObservedProperty = Geology
Unclear what the FoI is here</documentation>
            </annotation>
          </element>
          <element name="lithology" type="om:OM_ObservationPropertyType" minOccurs="0" maxOccurs="unbounded">
            <annotation>
              <documentation>Result should be of type LithologyValue
ObservedProperty = Lithology
Unclear what the FoI is here</documentation>
            </annotation>
          </element>
          <element name="parentDeposition" type="om:OM_ObservationPropertyType" minOccurs="0" maxOccurs="unbounded">
            <annotation>
              <documentation>Result should be of type ErosionCategoryValue
ObservedProperty = ParentDeposition
Unclear what the FoI is here</documentation>
            </annotation>
          </element>
          <element name="parentLithology" type="om:OM_ObservationPropertyType" minOccurs="0" maxOccurs="unbounded">
            <annotation>
              <documentation>Result should be of type LithologyValue
ObservedProperty = ParentLithology
Unclear what the FoI is here</documentation>
            </annotation>
          </element>
          <element name="parentRemarks" type="xsd:string" minOccurs="0" maxOccurs="unbounded">
            <annotation>
              <documentation>Remarks on the parent material</documentation>
            </annotation>
          </element>
          <element name="parentTextureUnconsolidated" type="om:OM_ObservationPropertyType" minOccurs="0" maxOccurs="unbounded">
            <annotation>
              <documentation>Result should be of type TextureUnconsolidatedValue
ObservedProperty = ParentTexture</documentation>
            </annotation>
          </element>
          <element name="aboutSite" type="gl:GL_SitePropertyType" minOccurs="0">
            <annotation>
              <appinfo>
                <gml:reversePropertyName>parentMaterialInfo</gml:reversePropertyName>
              </appinfo>
            </annotation>
          </element>
          <element name="aboutPlot" type="gl:GL_PlotPropertyType" minOccurs="0">
            <annotation>
              <appinfo>
                <gml:reversePropertyName>parentMaterialInfo</gml:reversePropertyName>
              </appinfo>
            </annotation>
          </element>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <element name="ParentMaterialInfo" type="gl:ParentMaterialInfoType" substitutionGroup="gml:AbstractFeature" />
  <complexType name="ParentMaterialInfoPropertyType">
    <sequence minOccurs="0">
      <element ref="gl:ParentMaterialInfo" />
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup" />
    <attributeGroup ref="gml:OwnershipAttributeGroup" />
  </complexType>
  <complexType name="GL_SurfaceType">
    <complexContent>
      <extension base="sq:SurfaceType">
        <sequence>
          <element name="characteristics" type="gl:SurfaceCharacteristicsPropertyType" minOccurs="0" maxOccurs="unbounded">
            <annotation>
              <appinfo>
                <gml:reversePropertyName>about</gml:reversePropertyName>
              </appinfo>
            </annotation>
          </element>
          <element name="primaryConstituents" type="gl:PrimaryConstituentsPropertyType" minOccurs="0" maxOccurs="unbounded">
            <annotation>
              <appinfo>
                <gml:reversePropertyName>about</gml:reversePropertyName>
              </appinfo>
            </annotation>
          </element>
          <element name="soilClimate" type="gl:SoilClimatePropertyType" minOccurs="0" maxOccurs="unbounded">
            <annotation>
              <appinfo>
                <gml:reversePropertyName>about</gml:reversePropertyName>
              </appinfo>
            </annotation>
          </element>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <element name="GL_Surface" type="gl:GL_SurfaceType" substitutionGroup="sq:Surface" />
  <complexType name="GL_SurfacePropertyType">
    <sequence minOccurs="0">
      <element ref="gl:GL_Surface" />
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup" />
    <attributeGroup ref="gml:OwnershipAttributeGroup" />
  </complexType>
  <complexType name="PrimaryConstituentsType">
    <complexContent>
      <extension base="gml:AbstractFeatureType">
        <sequence>
          <element name="rockAbundance" type="om:OM_ObservationPropertyType" minOccurs="0" maxOccurs="unbounded">
            <annotation>
              <documentation>Result should be of type RockAbundanceValue
ObservedProperty =RockAbundance
Table 26</documentation>
            </annotation>
          </element>
          <element name="rockShape" type="om:OM_ObservationPropertyType" minOccurs="0" maxOccurs="unbounded">
            <annotation>
              <documentation>Result should be of type RockShapeValue
ObservedProperty = RockShape
Table 28</documentation>
            </annotation>
          </element>
          <element name="rockSize" type="om:OM_ObservationPropertyType" minOccurs="0" maxOccurs="unbounded">
            <annotation>
              <documentation>Result should be of type RockSizeValue
ObservedProperty = RockSize
TABLE 27</documentation>
            </annotation>
          </element>
          <element name="weatheringFragments" type="om:OM_ObservationPropertyType" minOccurs="0" maxOccurs="unbounded">
            <annotation>
              <documentation>Result should be of type WeatheringValue
ObservedProperty = WeatheringFragments
TABLE 29</documentation>
            </annotation>
          </element>
          <element name="about" type="gl:GL_SurfacePropertyType" minOccurs="0">
            <annotation>
              <appinfo>
                <gml:reversePropertyName>primaryConstituents</gml:reversePropertyName>
              </appinfo>
            </annotation>
          </element>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <element name="PrimaryConstituents" type="gl:PrimaryConstituentsType" substitutionGroup="gml:AbstractFeature" />
  <complexType name="PrimaryConstituentsPropertyType">
    <sequence minOccurs="0">
      <element ref="gl:PrimaryConstituents" />
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup" />
    <attributeGroup ref="gml:OwnershipAttributeGroup" />
  </complexType>
  <complexType name="SurfaceCharacteristicsType">
    <complexContent>
      <extension base="gml:AbstractFeatureType">
        <sequence>
          <element name="bleachedSand" type="om:OM_ObservationPropertyType" minOccurs="0" maxOccurs="unbounded">
            <annotation>
              <documentation>Result should be of type BleachedSandValue
ObservedProperty = BleachedSand</documentation>
            </annotation>
          </element>
          <element name="colourDry" type="om:OM_ObservationPropertyType" minOccurs="0" maxOccurs="unbounded">
            <annotation>
              <documentation>Result should be of type MunsellColor
ObservedProperty = ColourDry</documentation>
            </annotation>
          </element>
          <element name="colourWet" type="om:OM_ObservationPropertyType" minOccurs="0" maxOccurs="unbounded">
            <annotation>
              <documentation>Result should be of type MunsellColor
ObservedProperty = ColourWet</documentation>
            </annotation>
          </element>
          <element name="cracksDepth" type="om:OM_ObservationPropertyType" minOccurs="0" maxOccurs="unbounded">
            <annotation>
              <documentation>Result should be of type CracksDepthValue
ObservedProperty = CracksDepth</documentation>
            </annotation>
          </element>
          <element name="cracksDistance" type="om:OM_ObservationPropertyType" minOccurs="0" maxOccurs="unbounded">
            <annotation>
              <documentation>Result should be of type CracksDistanceValue
ObservedProperty = CracksDistance</documentation>
            </annotation>
          </element>
          <element name="cracksWidth" type="om:OM_ObservationPropertyType" minOccurs="0" maxOccurs="unbounded">
            <annotation>
              <documentation>Result should be of type CracksWidthValue
ObservedProperty = CracksWidth</documentation>
            </annotation>
          </element>
          <element name="fragmentsCover" type="om:OM_ObservationPropertyType" minOccurs="0" maxOccurs="unbounded">
            <annotation>
              <documentation>Result should be of type FragmentCoverValue
ObservedProperty = FragmentCover</documentation>
            </annotation>
          </element>
          <element name="fragmentsSize" type="om:OM_ObservationPropertyType" minOccurs="0" maxOccurs="unbounded">
            <annotation>
              <documentation>Result should be of type FragmentsSizeValue
ObservedProperty = FragmentsSize</documentation>
            </annotation>
          </element>
          <element name="organicMatterClass" type="om:OM_ObservationPropertyType" minOccurs="0" maxOccurs="unbounded">
            <annotation>
              <documentation>Result should be of type OrganicMatterClassValue
ObservedProperty = OrganicMatterClass</documentation>
            </annotation>
          </element>
          <element name="saltCover" type="om:OM_ObservationPropertyType" minOccurs="0" maxOccurs="unbounded">
            <annotation>
              <documentation>Result should be of type SaltCoverValue
ObservedProperty = SaltCover</documentation>
            </annotation>
          </element>
          <element name="saltPresence" type="om:OM_ObservationPropertyType" minOccurs="0" maxOccurs="unbounded">
            <annotation>
              <documentation>Result should be of type Boolean
ObservedProperty = SaltPresence</documentation>
            </annotation>
          </element>
          <element name="saltThickness" type="om:OM_ObservationPropertyType" minOccurs="0" maxOccurs="unbounded">
            <annotation>
              <documentation>Result should be of type SaltThicknessValue
ObservedProperty = SaltThickness</documentation>
            </annotation>
          </element>
          <element name="sealingConsistence" type="om:OM_ObservationPropertyType" minOccurs="0" maxOccurs="unbounded">
            <annotation>
              <documentation>Result should be of type SealingConsistenceValue
ObservedProperty = SealingConsistence</documentation>
            </annotation>
          </element>
          <element name="sealingThickness" type="om:OM_ObservationPropertyType" minOccurs="0" maxOccurs="unbounded">
            <annotation>
              <documentation>Result should be of type SealingThicknessValue
ObservedProperty = SealingThickness</documentation>
            </annotation>
          </element>
          <element name="texture" type="om:OM_ObservationPropertyType" minOccurs="0" maxOccurs="unbounded">
            <annotation>
              <documentation>Result should be of type TextureValue
ObservedProperty = Texture</documentation>
            </annotation>
          </element>
          <element name="about" type="gl:GL_SurfacePropertyType" minOccurs="0">
            <annotation>
              <appinfo>
                <gml:reversePropertyName>characteristics</gml:reversePropertyName>
              </appinfo>
            </annotation>
          </element>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <element name="SurfaceCharacteristics" type="gl:SurfaceCharacteristicsType" substitutionGroup="gml:AbstractFeature" />
  <complexType name="SurfaceCharacteristicsPropertyType">
    <sequence minOccurs="0">
      <element ref="gl:SurfaceCharacteristics" />
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup" />
    <attributeGroup ref="gml:OwnershipAttributeGroup" />
  </complexType>
  <complexType name="GL_LayerType">
    <complexContent>
      <extension base="sq:LayerType">
        <sequence>
          <element name="characteristics" type="gl:CharacteristicsPropertyType" minOccurs="0" maxOccurs="unbounded">
            <annotation>
              <appinfo>
                <gml:reversePropertyName>aboutLayer</gml:reversePropertyName>
              </appinfo>
            </annotation>
          </element>
          <element name="biological" type="gl:BiologicalPropertyType" minOccurs="0" maxOccurs="unbounded">
            <annotation>
              <appinfo>
                <gml:reversePropertyName>aboutLayer</gml:reversePropertyName>
              </appinfo>
            </annotation>
          </element>
          <element name="bulkDensity" type="gl:BulkDensityPropertyType" minOccurs="0" maxOccurs="unbounded">
            <annotation>
              <appinfo>
                <gml:reversePropertyName>aboutLayer</gml:reversePropertyName>
              </appinfo>
            </annotation>
          </element>
          <element name="concentrations" type="gl:ConcentrationsPropertyType" minOccurs="0" maxOccurs="unbounded">
            <annotation>
              <appinfo>
                <gml:reversePropertyName>aboutLayer</gml:reversePropertyName>
              </appinfo>
            </annotation>
          </element>
          <element name="mottling" type="gl:MottlingPropertyType" minOccurs="0" maxOccurs="unbounded">
            <annotation>
              <appinfo>
                <gml:reversePropertyName>aboutLayer</gml:reversePropertyName>
              </appinfo>
            </annotation>
          </element>
          <element name="constituents" type="gl:ConstituentsPropertyType" minOccurs="0" maxOccurs="unbounded">
            <annotation>
              <appinfo>
                <gml:reversePropertyName>aboutLayer</gml:reversePropertyName>
              </appinfo>
            </annotation>
          </element>
          <element name="porosity" type="gl:PorosityPropertyType" minOccurs="0" maxOccurs="unbounded">
            <annotation>
              <appinfo>
                <gml:reversePropertyName>aboutLayer</gml:reversePropertyName>
              </appinfo>
            </annotation>
          </element>
          <element name="components" type="gl:ComponentsPropertyType" minOccurs="0" maxOccurs="unbounded">
            <annotation>
              <appinfo>
                <gml:reversePropertyName>aboutLayer</gml:reversePropertyName>
              </appinfo>
            </annotation>
          </element>
          <element name="stuff" type="gl:StuffPropertyType" minOccurs="0" maxOccurs="unbounded">
            <annotation>
              <appinfo>
                <gml:reversePropertyName>aboutLayer</gml:reversePropertyName>
              </appinfo>
            </annotation>
          </element>
          <element name="otherStuff" type="gl:OtherStuffPropertyType" minOccurs="0" maxOccurs="unbounded">
            <annotation>
              <appinfo>
                <gml:reversePropertyName>aboutLayer</gml:reversePropertyName>
              </appinfo>
            </annotation>
          </element>
          <element name="soilClimate" type="gl:SoilClimatePropertyType" minOccurs="0" maxOccurs="unbounded">
            <annotation>
              <appinfo>
                <gml:reversePropertyName>aboutLayer</gml:reversePropertyName>
              </appinfo>
            </annotation>
          </element>
          <element name="physioChemical" type="gl:PhysioChemicalPropertyType" minOccurs="0" maxOccurs="unbounded">
            <annotation>
              <appinfo>
                <gml:reversePropertyName>aboutLayer</gml:reversePropertyName>
              </appinfo>
            </annotation>
          </element>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <element name="GL_Layer" type="gl:GL_LayerType" substitutionGroup="sq:Layer" />
  <complexType name="GL_LayerPropertyType">
    <sequence minOccurs="0">
      <element ref="gl:GL_Layer" />
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup" />
    <attributeGroup ref="gml:OwnershipAttributeGroup" />
  </complexType>
  <complexType name="CharacteristicsType">
    <complexContent>
      <extension base="gml:AbstractFeatureType">
        <sequence>
          <element name="bleachedSand" type="om:OM_ObservationPropertyType">
            <annotation>
              <documentation>Result should be of type BleachedSandValue
ObservedProperty = BleachedSand</documentation>
            </annotation>
          </element>
          <element name="boundaryDistinctness" type="om:OM_ObservationPropertyType">
            <annotation>
              <documentation>Result should be of type BoundaryDistinctnessValue
ObservedProperty = BoundaryDistinctness</documentation>
            </annotation>
          </element>
          <element name="boundaryTopography" type="om:OM_ObservationPropertyType">
            <annotation>
              <documentation>Result should be of type BoundaryTopographyValue
ObservedProperty = BoundaryTopography</documentation>
            </annotation>
          </element>
          <element name="colourDry" type="om:OM_ObservationPropertyType">
            <annotation>
              <documentation>Result should be of type MunsellColor
ObservedProperty = ColourDry</documentation>
            </annotation>
          </element>
          <element name="colourWet" type="om:OM_ObservationPropertyType">
            <annotation>
              <documentation>Result should be of type MunsellColor
ObservedProperty = ColourWet</documentation>
            </annotation>
          </element>
          <element name="cracksDepth" type="om:OM_ObservationPropertyType">
            <annotation>
              <documentation>Result should be of type CracksDepthValue
ObservedProperty = CracksDepth</documentation>
            </annotation>
          </element>
          <element name="cracksDistance" type="om:OM_ObservationPropertyType">
            <annotation>
              <documentation>Result should be of type CracksDistanceValue
ObservedProperty = CracksDistance</documentation>
            </annotation>
          </element>
          <element name="cracksWidth" type="om:OM_ObservationPropertyType">
            <annotation>
              <documentation>Result should be of type CracksWidthValue
ObservedProperty = CracksWidth</documentation>
            </annotation>
          </element>
          <element name="fragmentsCover" type="om:OM_ObservationPropertyType">
            <annotation>
              <documentation>Result should be of type FragmentCoverValue
ObservedProperty = FragmentCover</documentation>
            </annotation>
          </element>
          <element name="fragmentsSize" type="om:OM_ObservationPropertyType">
            <annotation>
              <documentation>Result should be of type FragmentsSizeValue
ObservedProperty = FragmentsSize</documentation>
            </annotation>
          </element>
          <element name="organicMatter" type="om:OM_ObservationPropertyType">
            <annotation>
              <documentation>Result should be of type Real
UoM: g/kg
ObservedProperty = OrganicMatterClass</documentation>
            </annotation>
          </element>
          <element name="organicMatterClass" type="om:OM_ObservationPropertyType">
            <annotation>
              <documentation>Result should be of type OrganicMatterClassValue
ObservedProperty = OrganicMatterClass</documentation>
            </annotation>
          </element>
          <element name="texture" type="om:OM_ObservationPropertyType">
            <annotation>
              <documentation>Result should be of type TextureValue
ObservedProperty = Texture</documentation>
            </annotation>
          </element>
          <element name="aboutLayer" type="gl:GL_LayerPropertyType" minOccurs="0">
            <annotation>
              <appinfo>
                <gml:reversePropertyName>characteristics</gml:reversePropertyName>
              </appinfo>
            </annotation>
          </element>
          <element name="aboutHorizon" type="gl:GL_HorizonPropertyType" minOccurs="0">
            <annotation>
              <appinfo>
                <gml:reversePropertyName>characteristics</gml:reversePropertyName>
              </appinfo>
            </annotation>
          </element>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <element name="Characteristics" type="gl:CharacteristicsType" substitutionGroup="gml:AbstractFeature" />
  <complexType name="CharacteristicsPropertyType">
    <sequence minOccurs="0">
      <element ref="gl:Characteristics" />
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup" />
    <attributeGroup ref="gml:OwnershipAttributeGroup" />
  </complexType>
  <complexType name="BiologicalType">
    <complexContent>
      <extension base="gml:AbstractFeatureType">
        <sequence>
          <element name="biologicalAbundance" type="om:OM_ObservationPropertyType">
            <annotation>
              <documentation>Result should be of type BiologicalAbundanceValue
ObservedProperty = BiologicalAbundance</documentation>
            </annotation>
          </element>
          <element name="biologicalFeatures" type="om:OM_ObservationPropertyType">
            <annotation>
              <documentation>Result should be of type BiologicalFeaturesValue
ObservedProperty = BiologicalFeatures</documentation>
            </annotation>
          </element>
          <element name="rootsAbundance" type="om:OM_ObservationPropertyType">
            <annotation>
              <documentation>Result should be of type RootsAbundanceValue
ObservedProperty = RootsAbundance</documentation>
            </annotation>
          </element>
          <element name="rootsPresence" type="om:OM_ObservationPropertyType">
            <annotation>
              <documentation>Result should be of type Boolean
ObservedProperty = RootsPresence</documentation>
            </annotation>
          </element>
          <element name="aboutLayer" type="gl:GL_LayerPropertyType" minOccurs="0">
            <annotation>
              <appinfo>
                <gml:reversePropertyName>biological</gml:reversePropertyName>
              </appinfo>
            </annotation>
          </element>
          <element name="aboutHorizon" type="gl:GL_HorizonPropertyType" minOccurs="0">
            <annotation>
              <appinfo>
                <gml:reversePropertyName>biological</gml:reversePropertyName>
              </appinfo>
            </annotation>
          </element>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <element name="Biological" type="gl:BiologicalType" substitutionGroup="gml:AbstractFeature" />
  <complexType name="BiologicalPropertyType">
    <sequence minOccurs="0">
      <element ref="gl:Biological" />
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup" />
    <attributeGroup ref="gml:OwnershipAttributeGroup" />
  </complexType>
  <complexType name="BulkDensityType">
    <complexContent>
      <extension base="gml:AbstractFeatureType">
        <sequence>
          <element name="bulkDensityFineEarth" type="om:OM_ObservationPropertyType">
            <annotation>
              <documentation>Result should be of type Bulk densityFineEarthValue
ObservedProperty = Bulk densityFineEarth</documentation>
            </annotation>
          </element>
          <element name="bulkDensityMineral" type="om:OM_ObservationPropertyType">
            <annotation>
              <documentation>Result should be of type BulkDensityMineralValue
ObservedProperty = BulkDensityMineral</documentation>
            </annotation>
          </element>
          <element name="bulkDensityPeat" type="om:OM_ObservationPropertyType">
            <annotation>
              <documentation>Result should be of type BulkDensityPeatValue
ObservedProperty = BulkDensityPeat</documentation>
            </annotation>
          </element>
          <element name="bulkDensityWholeSoil" type="om:OM_ObservationPropertyType">
            <annotation>
              <documentation>Result should be of type BulkDensityWholeSoilValue
ObservedProperty = BulkDensityWholeSoil</documentation>
            </annotation>
          </element>
          <element name="peatDrainage" type="om:OM_ObservationPropertyType">
            <annotation>
              <documentation>Result should be of type PeatDrainageValue
ObservedProperty = PeatDrainage</documentation>
            </annotation>
          </element>
          <element name="peatVolume" type="om:OM_ObservationPropertyType">
            <annotation>
              <documentation>Result should be of type PeatVolumeValue
ObservedProperty = PeatVolume</documentation>
            </annotation>
          </element>
          <element name="aboutLayer" type="gl:GL_LayerPropertyType" minOccurs="0">
            <annotation>
              <appinfo>
                <gml:reversePropertyName>bulkDensity</gml:reversePropertyName>
              </appinfo>
            </annotation>
          </element>
          <element name="aboutHorizon" type="gl:GL_HorizonPropertyType" minOccurs="0">
            <annotation>
              <appinfo>
                <gml:reversePropertyName>bulkDensity</gml:reversePropertyName>
              </appinfo>
            </annotation>
          </element>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <element name="BulkDensity" type="gl:BulkDensityType" substitutionGroup="gml:AbstractFeature" />
  <complexType name="BulkDensityPropertyType">
    <sequence minOccurs="0">
      <element ref="gl:BulkDensity" />
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup" />
    <attributeGroup ref="gml:OwnershipAttributeGroup" />
  </complexType>
  <complexType name="ConcentrationsType">
    <complexContent>
      <extension base="gml:AbstractFeatureType">
        <sequence>
          <element name="cementationContinuity" type="om:OM_ObservationPropertyType">
            <annotation>
              <documentation>Result should be of type CementationContinuityValue
ObservedProperty = CementationContinuity</documentation>
            </annotation>
          </element>
          <element name="cementationDegree" type="om:OM_ObservationPropertyType">
            <annotation>
              <documentation>Result should be of type CementationDegreeValue
ObservedProperty = CementationDegree</documentation>
            </annotation>
          </element>
          <element name="cementationFabric" type="om:OM_ObservationPropertyType">
            <annotation>
              <documentation>Result should be of type CementationFabricValue
ObservedProperty = CementationFabric</documentation>
            </annotation>
          </element>
          <element name="cementationNature" type="om:OM_ObservationPropertyType">
            <annotation>
              <documentation>Result should be of type CementationNatureValue
ObservedProperty = CementationNature</documentation>
            </annotation>
          </element>
          <element name="coatingAbundance" type="om:OM_ObservationPropertyType">
            <annotation>
              <documentation>Result should be of type CoatingAbundanceValue
ObservedProperty = CoatingAbundance</documentation>
            </annotation>
          </element>
          <element name="coatingContrast" type="om:OM_ObservationPropertyType">
            <annotation>
              <documentation>Result should be of type CoatingContrastValue
ObservedProperty = CoatingContrast</documentation>
            </annotation>
          </element>
          <element name="coatingForm" type="om:OM_ObservationPropertyType">
            <annotation>
              <documentation>Result should be of type CoatingFormValue
ObservedProperty = CoatingForm</documentation>
            </annotation>
          </element>
          <element name="coatingLocation" type="om:OM_ObservationPropertyType">
            <annotation>
              <documentation>Result should be of type CoatingLocationValue
ObservedProperty = CoatingLocation</documentation>
            </annotation>
          </element>
          <element name="coatingNature" type="om:OM_ObservationPropertyType">
            <annotation>
              <documentation>Result should be of type CoatingNatureValue
ObservedProperty = CoatingNature</documentation>
            </annotation>
          </element>
          <element name="mineralConcAbundance" type="om:OM_ObservationPropertyType">
            <annotation>
              <documentation>Result should be of type MineralConcAbundanceValue
ObservedProperty = MineralConcAbundance</documentation>
            </annotation>
          </element>
          <element name="mineralConcColour" type="om:OM_ObservationPropertyType">
            <annotation>
              <documentation>Result should be of type MineralConcColourValue
ObservedProperty = MineralConcColour</documentation>
            </annotation>
          </element>
          <element name="mineralConcHardness" type="om:OM_ObservationPropertyType">
            <annotation>
              <documentation>Result should be of type MineralConcHardnessValue
ObservedProperty = MineralConcHardness</documentation>
            </annotation>
          </element>
          <element name="mineralConcKind" type="om:OM_ObservationPropertyType">
            <annotation>
              <documentation>Result should be of type MineralConcKindValue
ObservedProperty = MineralConcKind</documentation>
            </annotation>
          </element>
          <element name="mineralConcNature" type="om:OM_ObservationPropertyType">
            <annotation>
              <documentation>Result should be of type MineralConcNatureValue
ObservedProperty = MineralConcNature</documentation>
            </annotation>
          </element>
          <element name="mineralConcShape" type="om:OM_ObservationPropertyType">
            <annotation>
              <documentation>Result should be of type MineralConcShapeValue
ObservedProperty = MineralConcShape</documentation>
            </annotation>
          </element>
          <element name="mineralConcSize" type="om:OM_ObservationPropertyType">
            <annotation>
              <documentation>Result should be of type MineralConcSizeValue
ObservedProperty = MineralConcSize</documentation>
            </annotation>
          </element>
          <element name="mineralConcVolume" type="om:OM_ObservationPropertyType">
            <annotation>
              <documentation>Result should be of type MineralConcVolumeValue
ObservedProperty = MineralConcVolume</documentation>
            </annotation>
          </element>
          <element name="mineralContent" type="om:OM_ObservationPropertyType">
            <annotation>
              <documentation>Result should be of type MineralContentValue
ObservedProperty = MineralContent</documentation>
            </annotation>
          </element>
          <element name="aboutLayer" type="gl:GL_LayerPropertyType" minOccurs="0">
            <annotation>
              <appinfo>
                <gml:reversePropertyName>concentrations</gml:reversePropertyName>
              </appinfo>
            </annotation>
          </element>
          <element name="aboutHorizon" type="gl:GL_HorizonPropertyType" minOccurs="0">
            <annotation>
              <appinfo>
                <gml:reversePropertyName>concentrations</gml:reversePropertyName>
              </appinfo>
            </annotation>
          </element>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <element name="Concentrations" type="gl:ConcentrationsType" substitutionGroup="gml:AbstractFeature" />
  <complexType name="ConcentrationsPropertyType">
    <sequence minOccurs="0">
      <element ref="gl:Concentrations" />
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup" />
    <attributeGroup ref="gml:OwnershipAttributeGroup" />
  </complexType>
  <complexType name="MottlingType">
    <complexContent>
      <extension base="gml:AbstractFeatureType">
        <sequence>
          <element name="mottlesAbundance" type="om:OM_ObservationPropertyType">
            <annotation>
              <documentation>Result should be of type AbundanceValue
ObservedProperty = MottlesAbundance</documentation>
            </annotation>
          </element>
          <element name="mottlesBoundaryClassification" type="om:OM_ObservationPropertyType">
            <annotation>
              <documentation>Result should be of type BoundaryClassificationValue
ObservedProperty = MottlesBoundaryClassification</documentation>
            </annotation>
          </element>
          <element name="mottlesColour" type="om:OM_ObservationPropertyType">
            <annotation>
              <documentation>Result should be of type MunsellColor
ObservedProperty = MottlesColour</documentation>
            </annotation>
          </element>
          <element name="mottlesContrast" type="om:OM_ObservationPropertyType">
            <annotation>
              <documentation>Result should be of type ContrastValue
ObservedProperty = MottlesContrast</documentation>
            </annotation>
          </element>
          <element name="mottlesPresence" type="om:OM_ObservationPropertyType">
            <annotation>
              <documentation>Result should be of type Boolean
ObservedProperty = MottlesPresence</documentation>
            </annotation>
          </element>
          <element name="mottlesSize" type="om:OM_ObservationPropertyType">
            <annotation>
              <documentation>Result should be of type SizeValue
ObservedProperty = MottlesSize</documentation>
            </annotation>
          </element>
          <element name="aboutLayer" type="gl:GL_LayerPropertyType" minOccurs="0">
            <annotation>
              <appinfo>
                <gml:reversePropertyName>mottling</gml:reversePropertyName>
              </appinfo>
            </annotation>
          </element>
          <element name="aboutHorizon" type="gl:GL_HorizonPropertyType" minOccurs="0">
            <annotation>
              <appinfo>
                <gml:reversePropertyName>mottling</gml:reversePropertyName>
              </appinfo>
            </annotation>
          </element>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <element name="Mottling" type="gl:MottlingType" substitutionGroup="gml:AbstractFeature" />
  <complexType name="MottlingPropertyType">
    <sequence minOccurs="0">
      <element ref="gl:Mottling" />
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup" />
    <attributeGroup ref="gml:OwnershipAttributeGroup" />
  </complexType>
  <complexType name="ConstituentsType">
    <complexContent>
      <extension base="gml:AbstractFeatureType">
        <sequence>
          <element name="consistenceDry" type="om:OM_ObservationPropertyType">
            <annotation>
              <documentation>Result should be of type ConsistenceDryValue
ObservedProperty = ConsistenceDry</documentation>
            </annotation>
          </element>
          <element name="consistenceMoist" type="om:OM_ObservationPropertyType">
            <annotation>
              <documentation>Result should be of type ConsistenceMoistValue
ObservedProperty = ConsistenceMoist</documentation>
            </annotation>
          </element>
          <element name="mineralFragments" type="om:OM_ObservationPropertyType">
            <annotation>
              <documentation>Result should be of type MineralFragmentsValue
ObservedProperty = MineralFragments</documentation>
            </annotation>
          </element>
          <element name="peatDecompostion" type="om:OM_ObservationPropertyType">
            <annotation>
              <documentation>Result should be of type PeatDecompostionValue
ObservedProperty = PeatDecompostion</documentation>
            </annotation>
          </element>
          <element name="plasticity" type="om:OM_ObservationPropertyType">
            <annotation>
              <documentation>Result should be of type PlasticityValue
ObservedProperty = Plasticity</documentation>
            </annotation>
          </element>
          <element name="rockAbundance" type="om:OM_ObservationPropertyType">
            <annotation>
              <documentation>Result should be of type RockAbundanceValue
ObservedProperty = RockAbundance</documentation>
            </annotation>
          </element>
          <element name="rockShape" type="om:OM_ObservationPropertyType">
            <annotation>
              <documentation>Result should be of type RockShapeValue
ObservedProperty = RockShape</documentation>
            </annotation>
          </element>
          <element name="rockSize" type="om:OM_ObservationPropertyType">
            <annotation>
              <documentation>Result should be of type RockSizeValue
ObservedProperty = RockSize</documentation>
            </annotation>
          </element>
          <element name="sandyTexture" type="om:OM_ObservationPropertyType">
            <annotation>
              <documentation>Result should be of type SandyTextureValue
ObservedProperty = SandyTexture</documentation>
            </annotation>
          </element>
          <element name="stickiness" type="om:OM_ObservationPropertyType">
            <annotation>
              <documentation>Result should be of type StickinessValue
ObservedProperty = Stickiness</documentation>
            </annotation>
          </element>
          <element name="structureGrade" type="om:OM_ObservationPropertyType">
            <annotation>
              <documentation>Result should be of type StructureGradeValue
ObservedProperty = StructureGrade</documentation>
            </annotation>
          </element>
          <element name="structureSize" type="om:OM_ObservationPropertyType">
            <annotation>
              <documentation>Result should be of type StructureSizeValue
ObservedProperty = StructureSize</documentation>
            </annotation>
          </element>
          <element name="weatheringFragments" type="om:OM_ObservationPropertyType">
            <annotation>
              <documentation>Result should be of type WeatheringValue
ObservedProperty = WeatheringFragments</documentation>
            </annotation>
          </element>
          <element name="aboutLayer" type="gl:GL_LayerPropertyType" minOccurs="0">
            <annotation>
              <appinfo>
                <gml:reversePropertyName>constituents</gml:reversePropertyName>
              </appinfo>
            </annotation>
          </element>
          <element name="aboutHorizon" type="gl:GL_HorizonPropertyType" minOccurs="0">
            <annotation>
              <appinfo>
                <gml:reversePropertyName>constituents</gml:reversePropertyName>
              </appinfo>
            </annotation>
          </element>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <element name="Constituents" type="gl:ConstituentsType" substitutionGroup="gml:AbstractFeature" />
  <complexType name="ConstituentsPropertyType">
    <sequence minOccurs="0">
      <element ref="gl:Constituents" />
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup" />
    <attributeGroup ref="gml:OwnershipAttributeGroup" />
  </complexType>
  <complexType name="PorosityType">
    <complexContent>
      <extension base="gml:AbstractFeatureType">
        <sequence>
          <element name="poresAbundance" type="om:OM_ObservationPropertyType">
            <annotation>
              <documentation>Result should be of type PoresAbundanceValue
ObservedProperty = PoresAbundance</documentation>
            </annotation>
          </element>
          <element name="poresSize" type="om:OM_ObservationPropertyType">
            <annotation>
              <documentation>Result should be of type VoidsDiameterValue
ObservedProperty = PoresSize</documentation>
            </annotation>
          </element>
          <element name="porosity" type="om:OM_ObservationPropertyType">
            <annotation>
              <documentation>Result should be of type Real
ObservedProperty = Porosity</documentation>
            </annotation>
          </element>
          <element name="porosityClass" type="om:OM_ObservationPropertyType">
            <annotation>
              <documentation>Result should be of type PorosityClassValue
ObservedProperty = PorosityClass</documentation>
            </annotation>
          </element>
          <element name="voidsClassification" type="om:OM_ObservationPropertyType">
            <annotation>
              <documentation>Result should be of type VoidsClassificationValue
ObservedProperty = VoidsClassification</documentation>
            </annotation>
          </element>
          <element name="voidsDiameter" type="om:OM_ObservationPropertyType">
            <annotation>
              <documentation>Result should be of type VoidsDiameterValue
ObservedProperty = VoidsDiameter</documentation>
            </annotation>
          </element>
          <element name="aboutLayer" type="gl:GL_LayerPropertyType" minOccurs="0">
            <annotation>
              <appinfo>
                <gml:reversePropertyName>porosity</gml:reversePropertyName>
              </appinfo>
            </annotation>
          </element>
          <element name="aboutHorizon" type="gl:GL_HorizonPropertyType" minOccurs="0">
            <annotation>
              <appinfo>
                <gml:reversePropertyName>porosity</gml:reversePropertyName>
              </appinfo>
            </annotation>
          </element>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <element name="Porosity" type="gl:PorosityType" substitutionGroup="gml:AbstractFeature" />
  <complexType name="PorosityPropertyType">
    <sequence minOccurs="0">
      <element ref="gl:Porosity" />
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup" />
    <attributeGroup ref="gml:OwnershipAttributeGroup" />
  </complexType>
  <complexType name="ComponentsType">
    <complexContent>
      <extension base="gml:AbstractFeatureType">
        <sequence>
          <element name="carbonatesContent" type="om:OM_ObservationPropertyType">
            <annotation>
              <documentation>Result should be of type CarbonatesContentValue
ObservedProperty = CarbonatesContent</documentation>
            </annotation>
          </element>
          <element name="carbonatesForms" type="om:OM_ObservationPropertyType">
            <annotation>
              <documentation>Result should be of type CarbonatesFormsValue
ObservedProperty = CarbonatesForms</documentation>
            </annotation>
          </element>
          <element name="gypsumContent" type="om:OM_ObservationPropertyType">
            <annotation>
              <documentation>Result should be of type GypsumContentValue
ObservedProperty = GypsumContent</documentation>
            </annotation>
          </element>
          <element name="gypsumForms" type="om:OM_ObservationPropertyType">
            <annotation>
              <documentation>Result should be of type GypsumFormsValue
ObservedProperty = GypsumForms</documentation>
            </annotation>
          </element>
          <element name="gypsumWeight" type="om:OM_ObservationPropertyType">
            <annotation>
              <documentation>Result should be of type Real
ObservedProperty = GypsumWeight</documentation>
            </annotation>
          </element>
          <element name="saltContent" type="om:OM_ObservationPropertyType">
            <annotation>
              <documentation>Result should be of type SaltContentValue
ObservedProperty = SaltContent</documentation>
            </annotation>
          </element>
          <element name="aboutLayer" type="gl:GL_LayerPropertyType" minOccurs="0">
            <annotation>
              <appinfo>
                <gml:reversePropertyName>components</gml:reversePropertyName>
              </appinfo>
            </annotation>
          </element>
          <element name="aboutHorizon" type="gl:GL_HorizonPropertyType" minOccurs="0">
            <annotation>
              <appinfo>
                <gml:reversePropertyName>components</gml:reversePropertyName>
              </appinfo>
            </annotation>
          </element>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <element name="Components" type="gl:ComponentsType" substitutionGroup="gml:AbstractFeature" />
  <complexType name="ComponentsPropertyType">
    <sequence minOccurs="0">
      <element ref="gl:Components" />
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup" />
    <attributeGroup ref="gml:OwnershipAttributeGroup" />
  </complexType>
  <complexType name="StuffType">
    <complexContent>
      <extension base="gml:AbstractFeatureType">
        <sequence>
          <element name="clay" type="om:OM_ObservationPropertyType">
            <annotation>
              <documentation>Result should be of type Real
ObservedProperty should be all of the following:
ClayCarbonate
ClayNonCarbonate
ClaySizeFraction01
ClaySizeFraction02
ClayTotal
ClayWaterDispersible</documentation>
            </annotation>
          </element>
          <element name="clayMinerology" type="xsd:string" />
          <element name="fragments" type="om:OM_ObservationPropertyType">
            <annotation>
              <documentation>Result should be of type Real
ObservedProperty should be all of the following:
FragmentsGravimetricFraction01
FragmentsGravimetricFraction02
FragmentsGravimetricFraction03
FragmentsGravimetricFraction04
FragmentsGravimetricTotal
FragmentsVolumetric01
FragmentsVolumetric02
FragmentsVolumetric03
FragmentsVolumetricTotal
FragmentsVolumetricEstimate</documentation>
            </annotation>
          </element>
          <element name="salt" type="om:OM_ObservationPropertyType">
            <annotation>
              <documentation>Result should be of type Real
ObservedProperty = SaltTotal</documentation>
            </annotation>
          </element>
          <element name="sand" type="om:OM_ObservationPropertyType">
            <annotation>
              <documentation>Result should be of type Real
ObservedProperty should be all of the following:
SandSizeFraction01
SandSizeFraction02
SandSizeFraction03
SandSizeFraction04
SandSizeFraction05
SandSizeFraction06
SandSizeFraction07
SandSizeFraction08
SandSizeFraction09
SandSizeFraction10
SandSizeFractionTotal
SandWaterDispersible01
SandWaterDispersible02
SandWaterDispersible03
SandWaterDispersible04
SandWaterDispersible05
SandWaterDispersibleTotal</documentation>
            </annotation>
          </element>
          <element name="silt" type="om:OM_ObservationPropertyType">
            <annotation>
              <documentation>Result should be of type Real
ObservedProperty should be all of the following:
SiltSizeFraction01
SiltSizeFraction02
SiltSizeFraction03
SiltSizeFractionTotal
SiltWaterDispersibleFraction01
SiltWaterDispersibleFraction01
SiltWaterDispersibleFractionTotal</documentation>
            </annotation>
          </element>
          <element name="waterRetention" type="om:OM_ObservationPropertyType">
            <annotation>
              <documentation>Result should be of type Real
ObservedProperty should be all of the following:
WaterRetentionGravimetric
WaterRetentionGravimetric100kPa
WaterRetentionGravimetric10kPa
WaterRetentionGravimetric1500kPa
WaterRetentionGravimetric200kPa
WaterRetentionGravimetric33kPa
WaterRetentionGravimetric500kPa
WaterRetentionGravimetric6kPa
WaterRetentionVolumetric
WaterRetentionVolumetric100kPa
WaterRetentionVolumetric10kPa
WaterRetentionVolumetric1500kPa
WaterRetentionVolumetric200kPa
WaterRetentionVolumetric33kPa
WaterRetentionVolumetric500kPa
WaterRetentionVolumetric6kPa</documentation>
            </annotation>
          </element>
          <element name="aboutLayer" type="gl:GL_LayerPropertyType" minOccurs="0">
            <annotation>
              <appinfo>
                <gml:reversePropertyName>stuff</gml:reversePropertyName>
              </appinfo>
            </annotation>
          </element>
          <element name="aboutHorizon" type="gl:GL_HorizonPropertyType" minOccurs="0">
            <annotation>
              <appinfo>
                <gml:reversePropertyName>stuff</gml:reversePropertyName>
              </appinfo>
            </annotation>
          </element>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <element name="Stuff" type="gl:StuffType" substitutionGroup="gml:AbstractFeature" />
  <complexType name="StuffPropertyType">
    <sequence minOccurs="0">
      <element ref="gl:Stuff" />
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup" />
    <attributeGroup ref="gml:OwnershipAttributeGroup" />
  </complexType>
  <complexType name="OtherStuffType">
    <complexContent>
      <extension base="gml:AbstractFeatureType">
        <sequence>
          <element name="cationExchangeCapacity" type="om:OM_ObservationPropertyType">
            <annotation>
              <documentation>Result should be of type Real
ObservedProperty = CationExchangeCapacity</documentation>
            </annotation>
          </element>
          <element name="cationExchangeCapacityEffective" type="om:OM_ObservationPropertyType">
            <annotation>
              <documentation>Result should be of type Real
ObservedProperty = CationExchangeCapacityEffective</documentation>
            </annotation>
          </element>
          <element name="cationsSum" type="om:OM_ObservationPropertyType">
            <annotation>
              <documentation>Result should be of type Real
ObservedProperty = CationsSum</documentation>
            </annotation>
          </element>
          <element name="dryConsistency" type="om:OM_ObservationPropertyType">
            <annotation>
              <documentation>Result should be of type DryConsistencyValue
ObservedProperty = DryConsistency</documentation>
            </annotation>
          </element>
          <element name="electricalConductivity" type="om:OM_ObservationPropertyType">
            <annotation>
              <documentation>Result should be of type Real
ObservedProperty = ElectricalConductivity</documentation>
            </annotation>
          </element>
          <element name="hydraulicConductivity" type="om:OM_ObservationPropertyType">
            <annotation>
              <documentation>Result should be of type Real
ObservedProperty = HydraulicConductivity</documentation>
            </annotation>
          </element>
          <element name="infiltrationRateClass" type="om:OM_ObservationPropertyType">
            <annotation>
              <documentation>Result should be of type InfiltrationRateClassValue
ObservedProperty = InfiltrationRateClass</documentation>
            </annotation>
          </element>
          <element name="infiltrationRateNumeric" type="om:OM_ObservationPropertyType">
            <annotation>
              <documentation>Result should be of type Real
ObservedProperty = InfiltrationRateNumeric</documentation>
            </annotation>
          </element>
          <element name="moistConsistency" type="om:OM_ObservationPropertyType">
            <annotation>
              <documentation>Result should be of type MoistConsistencyValue
ObservedProperty = MoistConsistency</documentation>
            </annotation>
          </element>
          <element name="oxalateExtractableOpticalDensity" type="om:OM_ObservationPropertyType">
            <annotation>
              <documentation>Result should be of type Real
ObservedProperty = OxalateExtractableOpticalDensity</documentation>
            </annotation>
          </element>
          <element name="particleSizeFractionsSum" type="om:OM_ObservationPropertyType">
            <annotation>
              <documentation>Result should be of type Real
ObservedProperty = ParticleSizeFractionsSum</documentation>
            </annotation>
          </element>
          <element name="solubleAnionsTotal" type="om:OM_ObservationPropertyType">
            <annotation>
              <documentation>Result should be of type Real
ObservedProperty = SolubleAnionsTotal</documentation>
            </annotation>
          </element>
          <element name="solubleCationsTotal" type="om:OM_ObservationPropertyType">
            <annotation>
              <documentation>Result should be of type Real
ObservedProperty = SolubleCationsTotal</documentation>
            </annotation>
          </element>
          <element name="textureFieldClass" type="om:OM_ObservationPropertyType">
            <annotation>
              <documentation>Result should be of type TextureFieldClassValue
ObservedProperty = TextureFieldClass</documentation>
            </annotation>
          </element>
          <element name="textureLabClass" type="om:OM_ObservationPropertyType">
            <annotation>
              <documentation>Result should be of type TextureLabClassValue
ObservedProperty = TextureLabClass</documentation>
            </annotation>
          </element>
          <element name="wetPlasticity" type="om:OM_ObservationPropertyType">
            <annotation>
              <documentation>Result should be of type WetPlasticityValue
ObservedProperty = WetPlasticity</documentation>
            </annotation>
          </element>
          <element name="aboutLayer" type="gl:GL_LayerPropertyType" minOccurs="0">
            <annotation>
              <appinfo>
                <gml:reversePropertyName>otherStuff</gml:reversePropertyName>
              </appinfo>
            </annotation>
          </element>
          <element name="aboutHorizon" type="gl:GL_HorizonPropertyType" minOccurs="0">
            <annotation>
              <appinfo>
                <gml:reversePropertyName>otherStuff</gml:reversePropertyName>
              </appinfo>
            </annotation>
          </element>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <element name="OtherStuff" type="gl:OtherStuffType" substitutionGroup="gml:AbstractFeature" />
  <complexType name="OtherStuffPropertyType">
    <sequence minOccurs="0">
      <element ref="gl:OtherStuff" />
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup" />
    <attributeGroup ref="gml:OwnershipAttributeGroup" />
  </complexType>
  <complexType name="GL_HorizonType">
    <complexContent>
      <extension base="sq:HorizonType">
        <sequence>
          <element name="characteristics" type="gl:CharacteristicsPropertyType" minOccurs="0" maxOccurs="unbounded">
            <annotation>
              <appinfo>
                <gml:reversePropertyName>aboutHorizon</gml:reversePropertyName>
              </appinfo>
            </annotation>
          </element>
          <element name="biological" type="gl:BiologicalPropertyType" minOccurs="0" maxOccurs="unbounded">
            <annotation>
              <appinfo>
                <gml:reversePropertyName>aboutHorizon</gml:reversePropertyName>
              </appinfo>
            </annotation>
          </element>
          <element name="bulkDensity" type="gl:BulkDensityPropertyType" minOccurs="0" maxOccurs="unbounded">
            <annotation>
              <appinfo>
                <gml:reversePropertyName>aboutHorizon</gml:reversePropertyName>
              </appinfo>
            </annotation>
          </element>
          <element name="concentrations" type="gl:ConcentrationsPropertyType" minOccurs="0" maxOccurs="unbounded">
            <annotation>
              <appinfo>
                <gml:reversePropertyName>aboutHorizon</gml:reversePropertyName>
              </appinfo>
            </annotation>
          </element>
          <element name="mottling" type="gl:MottlingPropertyType" minOccurs="0" maxOccurs="unbounded">
            <annotation>
              <appinfo>
                <gml:reversePropertyName>aboutHorizon</gml:reversePropertyName>
              </appinfo>
            </annotation>
          </element>
          <element name="constituents" type="gl:ConstituentsPropertyType" minOccurs="0" maxOccurs="unbounded">
            <annotation>
              <appinfo>
                <gml:reversePropertyName>aboutHorizon</gml:reversePropertyName>
              </appinfo>
            </annotation>
          </element>
          <element name="porosity" type="gl:PorosityPropertyType" minOccurs="0" maxOccurs="unbounded">
            <annotation>
              <appinfo>
                <gml:reversePropertyName>aboutHorizon</gml:reversePropertyName>
              </appinfo>
            </annotation>
          </element>
          <element name="components" type="gl:ComponentsPropertyType" minOccurs="0" maxOccurs="unbounded">
            <annotation>
              <appinfo>
                <gml:reversePropertyName>aboutHorizon</gml:reversePropertyName>
              </appinfo>
            </annotation>
          </element>
          <element name="stuff" type="gl:StuffPropertyType" minOccurs="0" maxOccurs="unbounded">
            <annotation>
              <appinfo>
                <gml:reversePropertyName>aboutHorizon</gml:reversePropertyName>
              </appinfo>
            </annotation>
          </element>
          <element name="otherStuff" type="gl:OtherStuffPropertyType" minOccurs="0" maxOccurs="unbounded">
            <annotation>
              <appinfo>
                <gml:reversePropertyName>aboutHorizon</gml:reversePropertyName>
              </appinfo>
            </annotation>
          </element>
          <element name="soilClimate" type="gl:SoilClimatePropertyType" minOccurs="0" maxOccurs="unbounded">
            <annotation>
              <appinfo>
                <gml:reversePropertyName>aboutHorizon</gml:reversePropertyName>
              </appinfo>
            </annotation>
          </element>
          <element name="physioChemical" type="gl:PhysioChemicalPropertyType" minOccurs="0" maxOccurs="unbounded">
            <annotation>
              <appinfo>
                <gml:reversePropertyName>aboutHorizon</gml:reversePropertyName>
              </appinfo>
            </annotation>
          </element>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <element name="GL_Horizon" type="gl:GL_HorizonType" substitutionGroup="sq:Horizon" />
  <complexType name="GL_HorizonPropertyType">
    <sequence minOccurs="0">
      <element ref="gl:GL_Horizon" />
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup" />
    <attributeGroup ref="gml:OwnershipAttributeGroup" />
  </complexType>
  <complexType name="PhysioChemicalType">
    <complexContent>
      <extension base="gml:AbstractFeatureType">
        <sequence>
          <element name="member" type="om:OM_ObservationPropertyType" maxOccurs="unbounded">
            <annotation>
              <documentation>Result is of type Real
Observed Property should be from the following list:
Acidity - exchangeable
Acidity - extractable
Aluminium (Al) + 0.5 Fe oxalate
Aluminium (Al) - dithionite extractable
Aluminium (Al+++) - exchangeable
Aluminium (Al) - oxalate extractable
Aluminium (Al) - pyrophosphate extractable
Aluminium (Al+++) - saturation  (ESP)
Available water capacity - volumetric (FC to WP)
Base saturation - calculated
Base saturation - sum of cations
Bases - exchangeable
Boron (B) - extractable
Boron (B) - total
Bromite (Br-) - extractable
Calcium (Ca++) - exchangeable
Calcium (Ca++) - extractable
Calcium carbonate equivalent - fraction
Calcium carbonate equivalent - total
Calcium (Ca++) - soluble
Calcium (Ca++) - total
Carbonate (CO3--) - soluble
Carbon (C) - organic
Carbon (C) - pyrophosphate extractable
Carbon (C) - total
Carbon - fulvic acid
Carbon - humic acid
Carbon/Nitrogen (C/N) ratio
Carbon - total humic
Chloride (Cl-) - soluble
Copper (Cu) - extractable
Copper (Cu) - total
Hydrocarbonate (HCO3-) - soluble
Hydrogen (H+) - exchangeable
Iron (Fe) - dithionite extractable
Iron (Fe) - extractable
Iron (Fe) - oxalate extractable
Iron (Fe) - pyrophosphate extractable
Iron (Fe) - total
Magnesium (Mg++) - exchangeable
Magnesium (Mg) - extractable
Magnesium (Mg++) - soluble
Magnesium (Mg) - total
Manganese (Mn) - dithionite extractable
Manganese (Mn) - extractable
Manganese (Mn) - KCl extractable
Manganese (Mn) - oxalate extractable
Manganese (Mn) - pyrophosphate extractable
Manganese (Mn) - total
Nitrate (NO3-) - soluble
Nitrite (NO2-) - soluble
Nitrogen (N) - total
pH - CaCl2
pH - Field
pH - H2O
pH - KCl
pH - NaF
pH - NH4CL
Phosphate (PO4--) - soluble
Phosphorus (P) - extractable
Phosphorus (P) - oxalate extractable
Phosphorus (P) - retention
Phosphorus (P) - total
pH - unknown
Potassium (K+) - exchangeable
Potassium (K) - extractable
Potassium (K+) - soluble
Potassium (K) - total
Selenium (Se) - extractable
Selenium (Se) - total
Silicon (Si) - oxalate extractable
Sodium (Na+) - exchangeable
Sodium (Na+) - exchangeable %
Sodium (Na) - extractable
Sodium (Na+) - soluble
Sodium (Na) - total
Sulfate (SO4--) - soluble
Sulfur (S) - extractable
Sulfur (S) - total
Zinc (Zn) - extractable
Zinc (Zn) - total
</documentation>
            </annotation>
          </element>
          <element name="aboutLayer" type="gl:GL_LayerPropertyType" minOccurs="0">
            <annotation>
              <appinfo>
                <gml:reversePropertyName>physioChemical</gml:reversePropertyName>
              </appinfo>
            </annotation>
          </element>
          <element name="aboutHorizon" type="gl:GL_HorizonPropertyType" minOccurs="0">
            <annotation>
              <appinfo>
                <gml:reversePropertyName>physioChemical</gml:reversePropertyName>
              </appinfo>
            </annotation>
          </element>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <element name="PhysioChemical" type="gl:PhysioChemicalType" substitutionGroup="gml:AbstractFeature" />
  <complexType name="PhysioChemicalPropertyType">
    <sequence minOccurs="0">
      <element ref="gl:PhysioChemical" />
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup" />
    <attributeGroup ref="gml:OwnershipAttributeGroup" />
  </complexType>
  <complexType name="GL_ObservationType">
    <complexContent>
      <extension base="om:OM_ObservationType">
        <sequence />
      </extension>
    </complexContent>
  </complexType>
  <element name="GL_Observation" type="gl:GL_ObservationType" substitutionGroup="om:OM_Observation" />
  <complexType name="GL_ObservationPropertyType">
    <sequence minOccurs="0">
      <element ref="gl:GL_Observation" />
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup" />
    <attributeGroup ref="gml:OwnershipAttributeGroup" />
  </complexType>
  <complexType name="SoilClimateType">
    <complexContent>
      <extension base="gml:AbstractFeatureType">
        <sequence>
          <element name="moistureCode" type="om:OM_ObservationPropertyType" minOccurs="0" maxOccurs="unbounded">
            <annotation>
              <documentation>Result should be of type USDAMoistureCodeValue
ObservedProperty = USDAMoistureCode</documentation>
            </annotation>
          </element>
          <element name="moistureStatus" type="om:OM_ObservationPropertyType" minOccurs="0" maxOccurs="unbounded">
            <annotation>
              <documentation>Result should be of type MoistureStatusValue
ObservedProperty = MoistureStatus</documentation>
            </annotation>
          </element>
          <element name="temperatureCode" type="om:OM_ObservationPropertyType" minOccurs="0" maxOccurs="unbounded">
            <annotation>
              <documentation>Result should be of type USDATempCodeValue
ObservedProperty = USDATempCode</documentation>
            </annotation>
          </element>
          <element name="about" type="gl:GL_SurfacePropertyType" minOccurs="0">
            <annotation>
              <appinfo>
                <gml:reversePropertyName>soilClimate</gml:reversePropertyName>
              </appinfo>
            </annotation>
          </element>
          <element name="aboutLayer" type="gl:GL_LayerPropertyType" minOccurs="0">
            <annotation>
              <appinfo>
                <gml:reversePropertyName>soilClimate</gml:reversePropertyName>
              </appinfo>
            </annotation>
          </element>
          <element name="aboutHorizon" type="gl:GL_HorizonPropertyType" minOccurs="0">
            <annotation>
              <appinfo>
                <gml:reversePropertyName>soilClimate</gml:reversePropertyName>
              </appinfo>
            </annotation>
          </element>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <element name="SoilClimate" type="gl:SoilClimateType" substitutionGroup="gml:AbstractFeature" />
  <complexType name="SoilClimatePropertyType">
    <sequence minOccurs="0">
      <element ref="gl:SoilClimate" />
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup" />
    <attributeGroup ref="gml:OwnershipAttributeGroup" />
  </complexType>
  <complexType name="ProfileSoilInfoType">
    <complexContent>
      <extension base="gml:AbstractFeatureType">
        <sequence>
          <element name="infiltrationRateClass" type="om:OM_ObservationPropertyType" minOccurs="0" maxOccurs="unbounded">
            <annotation>
              <documentation>Result should be of type InfiltrationRateClassValue
ObservedProperty = InfiltrationRateClass</documentation>
            </annotation>
          </element>
          <element name="infiltrationRateNumeric" type="om:OM_ObservationPropertyType" minOccurs="0" maxOccurs="unbounded">
            <annotation>
              <documentation>Result should be of type Real
ObservedProperty = InfiltrationRateNumeric</documentation>
            </annotation>
          </element>
          <element name="profileDescriptionStatus" type="om:OM_ObservationPropertyType" minOccurs="0" maxOccurs="unbounded">
            <annotation>
              <documentation>Result should be of type ProfileDescriptionStatusValue
ObservedProperty = ProfileDescriptionStatus</documentation>
            </annotation>
          </element>
          <element name="soilClassificationFAO" type="om:OM_ObservationPropertyType" minOccurs="0" maxOccurs="unbounded">
            <annotation>
              <documentation>Result should be of type SoilClassificationFAOValue
ObservedProperty = SoilClassificationFAO</documentation>
            </annotation>
          </element>
          <element name="soilClassificationUSDA" type="om:OM_ObservationPropertyType" minOccurs="0" maxOccurs="unbounded">
            <annotation>
              <documentation>Result should be of type SoilClassificationUSDAValue
ObservedProperty = SoilClassificationUSDA</documentation>
            </annotation>
          </element>
          <element name="soilClassificationWRB" type="om:OM_ObservationPropertyType" minOccurs="0" maxOccurs="unbounded">
            <annotation>
              <documentation>Result should be of type SoilClassificationWRBValue
ObservedProperty = SoilClassificationWRB</documentation>
            </annotation>
          </element>
          <element name="soilDepth" type="om:OM_ObservationPropertyType" minOccurs="0" maxOccurs="unbounded">
            <annotation>
              <documentation>Result should be of type Integer
ObservedProperty = Depth</documentation>
            </annotation>
          </element>
          <element name="soilDepthBedrock" type="om:OM_ObservationPropertyType" minOccurs="0" maxOccurs="unbounded">
            <annotation>
              <documentation>Result should be of type Integer
ObservedProperty = DepthBedrock</documentation>
            </annotation>
          </element>
          <element name="soilDepthRootable" type="om:OM_ObservationPropertyType" minOccurs="0" maxOccurs="unbounded">
            <annotation>
              <documentation>Result should be of type Integer
ObservedProperty = SoilDepthRootable</documentation>
            </annotation>
          </element>
          <element name="soilDepthRootableClass" type="om:OM_ObservationPropertyType" minOccurs="0" maxOccurs="unbounded">
            <annotation>
              <documentation>Result should be of type SoilDepthRootableValue
ObservedProperty = SoilDepthRootableClass</documentation>
            </annotation>
          </element>
          <element name="soilDepthSampled" type="om:OM_ObservationPropertyType" minOccurs="0" maxOccurs="unbounded">
            <annotation>
              <documentation>Result should be of type Integer
ObservedProperty = DepthSampled</documentation>
            </annotation>
          </element>
          <element name="about" type="gl:GL_ProfilePropertyType">
            <annotation>
              <appinfo>
                <gml:reversePropertyName>soilInfo</gml:reversePropertyName>
              </appinfo>
            </annotation>
          </element>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <element name="ProfileSoilInfo" type="gl:ProfileSoilInfoType" substitutionGroup="gml:AbstractFeature" />
  <complexType name="ProfileSoilInfoPropertyType">
    <sequence minOccurs="0">
      <element ref="gl:ProfileSoilInfo" />
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup" />
    <attributeGroup ref="gml:OwnershipAttributeGroup" />
  </complexType>
  <complexType name="GL_ProfileType">
    <complexContent>
      <extension base="sq:SoilProfileType">
        <sequence>
          <element name="soilInfo" type="gl:ProfileSoilInfoPropertyType" minOccurs="0" maxOccurs="unbounded">
            <annotation>
              <appinfo>
                <gml:reversePropertyName>about</gml:reversePropertyName>
              </appinfo>
            </annotation>
          </element>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <element name="GL_Profile" type="gl:GL_ProfileType" substitutionGroup="sq:SoilProfile" />
  <complexType name="GL_ProfilePropertyType">
    <sequence minOccurs="0">
      <element ref="gl:GL_Profile" />
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup" />
    <attributeGroup ref="gml:OwnershipAttributeGroup" />
  </complexType>
  <complexType name="MunsellColorType">
    <sequence>
      <element name="munsellCompounded" type="xsd:string" />
      <element name="munsellMatrix" type="gl:MunsellMatrixPropertyType" />
    </sequence>
  </complexType>
  <element name="MunsellColor" type="gl:MunsellColorType" substitutionGroup="gml:AbstractObject" />
  <complexType name="MunsellColorPropertyType">
    <sequence>
      <element ref="gl:MunsellColor" />
    </sequence>
    <attributeGroup ref="gml:OwnershipAttributeGroup" />
  </complexType>
  <complexType name="MunsellMatrixType">
    <sequence>
      <element name="chroma" type="xsd:decimal" />
      <element name="hue" type="xsd:string" />
      <element name="value" type="xsd:decimal" />
    </sequence>
  </complexType>
  <element name="MunsellMatrix" type="gl:MunsellMatrixType" substitutionGroup="gml:AbstractObject" />
  <complexType name="MunsellMatrixPropertyType">
    <sequence>
      <element ref="gl:MunsellMatrix" />
    </sequence>
    <attributeGroup ref="gml:OwnershipAttributeGroup" />
  </complexType>
</schema>
